*
{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    margin:0;
    border: 0;
}

html,body
{
    width:100%;
}
.card
{
border:2px solid grey;
width: 253px;
height: 345px;
margin: 100px auto;
padding: 30px;
text-align: center;
border-radius: 32px;
background-color: rgb(136, 136, 89,0.535);
}

.card img 
{
    width: 50%;
    height: 45%;
    border-radius: 100%;
    margin-bottom: 21px;
    margin-top: 20px;
}
    