*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body
{
    width:100%;
}
.card
{
    height: 210px;
    width: 240px;
    border-radius: 9px;
    margin: 100px 100px;
    box-shadow: 2px 2px 8px 5px lightgray;
    position: relative;

}
.card-content
{
    /* border: 2px solid red; */
    padding:  12px;
    height: 100%;
    width: 100%;
}

.card-content i
{
    font-size: 40px;
}
h2
{
    margin-top: 10px;
    margin-bottom: 14px;
}
p
{
    line-height: 22px;
}
.bg
{
    height: 0%;
    width: 100%;
    background-color: aqua;
    border-radius:9px ;
    position: absolute;
    bottom: 0;
    transition:height .5s ;
    color: white;
    overflow: hidden;
}
.bg-content
{
    height: 100%;
    width: 100%;
    padding: 12px;
}
.bg-content i
{
    font-size: 40px;
}

.card:hover .bg
{
   height: 100%;
}

