*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body
{
    width: 100%;
}
.position
{
   margin: 50px 50px;
   height:53px;
   width: 345px; 
   position: relative;
   
}
input
{
   height:54px;
   width: 345px; 
   padding: 10px;
   
}
button
{
    background-color: red;
    height: 40px;
    width: 79px;
    border-radius: 6px;
    color: white;
    border: none;
    position: absolute;
    right: 8px;
    bottom: 6px;
}